*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: darkseagreen;
    /* min-height: 100vh; */

}
#chat-box{
    /* min-height: 100vh; */
    z-index: -10;
    display:grid;
    flex-direction: column;
    /* background-color: darkseagreen; */
    margin-top: 60px;
    margin-bottom: 60px;

    right: 0;
    /* width: calc(100vw - 60px) */
    
}
.chat{
    display:flex ;
    flex-direction: column;
    border-radius: 35px 35px 35px 0;
    background-color: #dddddd;
    max-width: 75%;
    justify-self: left;
    margin: 10px;
    margin-left: 70px;
}
.sender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    background-color:white;
    margin: 10px;
    border-radius: 25px;
}
.sender-name{
    width: 100%;
    text-align: center;

}
.sender-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: yellow;
}
.chat-message{
    margin: 10px;
    margin-top: 0;
    border-radius: 25px;
    padding: 10px;
    max-width: calc(75vw - 20px);
    background-color:white;
}
#you-chat{
    justify-self: right;
    border-radius: 35px 35px 0 35px;

}
#you-sender{
    flex-direction: row-reverse;
}
#form{
    display: flex;
    /* flex-direction: column; */
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px;
    z-index: 1;
}
#text{
    height: 40px;

    border-radius: 20px;
    padding: 10px;
    width: 100% ;

}
#send-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
#navbar-top{
    backdrop-filter: blur(5px);
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    height: 60px;
    z-index: 1;
}
h1{
    margin: auto;  

}
body{
    z-index: -1000;
}
#navbar-side{
    position: fixed;
    left :0;
    top: 0;
    height :100vh;
    width: 60px;
    z-index: 0;
    background-color: darkslateblue;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    padding-top: 60px;
    padding-bottom: 60px;
    transition: width ease-in-out 0.5s;
}
/* #tab > div{

    height: 40px;
    min-width: 40px;
    width: 1fr;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);

    margin: 0 10px;
    display: flex;
    place-items: center;
    color: white;
    overflow: hidden;


}
#setting > #logo{

    margin: 20px;
    width: 40px;
    background-color: black;
}
#navbar-side > div > div{ 
    margin: 20px;
}  */
#navbar-side > div:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
#profile-image{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}
#navbar-side:hover{
    width: 50%;
}
#setting{
    bottom: 60px;
    align-self: flex-end;
}
#separator{
    margin: auto;
}
/* #navbar-top{
    display: grid;
} */
#menu{
    display: flex;
}