*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: darkseagreen;
}
#chat-box{
    display:grid ;
    flex-direction: column;
    background-color: darkseagreen;
    
}
.chat{
    display:flex ;
    flex-direction: column;
    margin: 10px;
    border-radius: 35px;
    background-color: #dddddd;
    max-width: 75vw;
}
.sender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    background-color:white;
    margin: 10px;
    border-radius: 25px;
}
.sender-name{
    width: 100%;
    text-align: center;

}
.sender-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: yellow;
}
.chat-message{
    margin: 10px;
    margin-top: 0;
    border-radius: 25px;
    padding: 10px;
    max-width: calc(75vw - 20px);
    background-color:white;
}
#you-chat{
    justify-self: right;
}
#you-sender{
    flex-direction: row-reverse;
}
#form{
    display: flex;
    /* flex-direction: column; */
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
width: 100%;

    padding: 10px;
}
#text{
    height: 40px;

    border-radius: 20px;
    padding: 10px;
    width: 100% ;

}
#send-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
#navbar-top{
    backdrop-filter: blur(5px);
    display: flex;
    position: fixed;
    width: 100%;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.7);
}
h1{
    margin: auto;  

}
body{
    height: calc(auto+60px);
}