* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button,input{
	border: none;
	background-color: white;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: darkseagreen;
	/* min-height: 100vh; */
}
#chat-box {
	/* min-height: 100vh; */
	z-index: -10;
	display: grid;
	flex-direction: column;
	/* background-color: darkseagreen; */
	margin-top: 60px;
	margin-bottom: 60px;

	right: 0;
	/* width: calc(100vw - 60px) */
}
.chat {
	display: flex;
	flex-direction: column;
	border-radius: 35px 35px 35px 0;
	background-color: #dddddd;
	max-width: 75%;
	justify-self: left;
	margin: 10px;
	margin-left: 70px;
	/* z-index: -1; */
}
.sender {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	flex-direction: row;
	background-color: white;
	margin: 10px;
	border-radius: 25px;
}
.sender-name {
	width: 100%;
	text-align: center;
}
.sender-image {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	/* background-color: yellow; */
}
.chat-message {
	margin: 10px;
	margin-top: 0;
	border-radius: 25px;
	padding: 10px;
	max-width: calc(75vw - 20px);
	background-color: white;
	overflow: auto;
	/* z-index: -2; */
}
#youtube{
	/* z-index: 10;	 */
	width: calc(75vw - 60px);
	max-height: calc(100vh - 140px);

	height: calc(75vw - 60px);
	border: 0;
	border-radius: 15px;

}
#you-chat {
	justify-self: right;
	border-radius: 35px 35px 0 35px;
}
#you-sender {
	flex-direction: row-reverse;
}
#form {
	display: flex;
	/* flex-direction: column; */
	position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);

	backdrop-filter: blur(5px);
	-webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	width: 100%;
	padding: 10px;
	z-index: 1000000;
}
#text {
	height: 40px;

	border-radius: 20px;
	padding: 10px;
    width: 100%;
    border: none;
    background-color: gainsboro;
}
#text-box{
	width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
	border-radius: 20px;
}
#add-logo{
    margin: 5px;
}
#send-button {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 10px;
}
#cards{
    height: 120px;
    width: calc(100vw - 20px );
	transform: none;
    position: fixed;
    bottom: -110px;
    transition: transform 0.2s ease-in-out;
    z-index: 100;
    
}

#cards > div{
    transition: transform 0.2s ease-in-out;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(5px); */
	position: fixed;
	display: flex;
    /* bottom:60px; */
    width: calc(100vw - 20px );
    height: 120px;
    border-radius: 10px;
    margin: 10px;
	padding: 10px;
}
#cards > #options{
    z-index: 101;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
	
	/* justify-content: space-evenly; */
	/* background-color: aqua; */
}
#hide-all-cards{
	
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100vw;
	height: 100vh;
	/* background-color: blueviolet; */
}
/* #cards > div > button{
	background-color: white;
	border: none;
} */
#cards > div > button > img{
	width: 50px;
	/* color: blue; */

	/* fill: #3498DB; */
}
#file-upload-form{
    transition: transform 0.2s ease-in-out;
}

#options > div{
    /* margin: auto; */
}
#navbar-top {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);

	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	height: 60px;
	z-index: 2;
}
h1 {
	margin: auto;
}
body {
	z-index: -1000;
}
#navbar-side {
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	height: 100vh;
	width: 60px;
	z-index: 1;
	background-color: darkslateblue;
	-webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.7);
	padding-top: 65px;
	padding-bottom: 60px;
	transition: width ease-in-out 0.5s;
}
#navbar-side:hover {
	width: 50%;
}
#profile-image {
	width: 40px;
	height: 40px;
	position: fixed;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	margin: 5px;
	z-index: 1000;

}
#profile-image:hover ~ #navbar-side{
	width: 50%;
}
#chat-room {
	display: flex;
	flex-direction: column;
	place-items: center;
}
#chat-room > div {
	background-color: rgba(255, 255, 255, 0.1);
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	margin: 5px;
}

#chat-room > div:hover,
#menu > div:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
#chat-room > div > div {
	margin: auto;
}
#menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	place-items: center;
}
#menu > div {
	background-color: rgba(255, 255, 255, 0.1);
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	place-content: center;
	margin: 5px;
}
#menu > div > div{
    display: flex;
}
/* #menu > div > div > div {
    margin: auto;
} */
/* #menu > div > #settings {
	place-content: flex-start;
} */
#settings {
	display: flex;
	flex-direction: row;
	place-items: center;
}
#settings-logo{
    margin: auto;
}
#menu {
	display: flex;
}
#send-button {
	background-image: url(send-logo.svg);
}
#file-upload-form{
	display: flex;
	flex-direction: column;
}
#file-upload-form > div{
	display: flex;
	width: 100%;
	height: 100%;
	/* place-content: center; */
	place-items: center;
	/* margin: 10px; */
}
#file-upload-form > button{
	display: inline-block;
	margin: auto;
	border-radius: 12.5px;
	padding: 5px;
	color: white;
	margin-top: 10px;
	background-color: darkslateblue;
}
#file-upload{
	height: 100%;
	width: 100%;
	margin: 0 auto;	
}

#file_drop{
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #dddddd;
	/* text-align: center; */
	border-radius: 5px;
	
}
#file_drop > div{
	margin: auto;
}
#file-link{
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: #dddddd;
	padding: 5px;
	text-decoration: none;
	

}
#file-link > img,#file-link > div{
	margin: auto;
	color: black;
}
#download-button{
	margin-bottom: 10px;
	padding: 5px;
	text-decoration: none;
	border-radius: 15px;
	background-color: #85C1E9 ;
	color: black;
}
@media only screen and (max-width: 600px){
	#navbar-side{
		width: 0;
	}
	.chat{
		margin-left: 10px;
	}
}
#login{
	min-height: 100vh;
	display: flex;
	
	justify-content: center;
	align-items: center;
}
